MONGO_URL=mongodb://localhost:27017
MONGO_DB_NAME=vpinfe_db
VPSDB_URL=https://github.com/VirtualPinballSpreadsheet/vps-db/raw/refs/heads/main/db/vpsdb.json
VPSDB_SYNC_INTERVAL_SECONDS=3600
VPSDB_SELECTED_FIELDS=name,authors,manufacturer,year
