/* ============================================
   Index Page Specific Styles
   ============================================ */

.main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 36px;
  margin: 0;
  padding: 18px 36px;
}

@media (max-width: 640px) {
  .main {
    padding: 18px;
  }
}
